// COLORS
$color-primary: #f79c17;
$color-primary-light: #fed51c;
$color-primary-dark: #141414;
$color-gray-dark: #777;
$color-white: #fff;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
